{% extends "base.html" %}
{% block content %}
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p> <font  face="verdana" size="5" color="white">
                    ReviveMyBiz is a convenient website that connects small businesses with resources, opportunities and information to prepare appropriately for disasters and ensure speedy business recovery and continuity upon the occurrence of a disaster. In fact, our solution provides useful properties that encourages user retention before the occurrence of a disaster, during the recovery process and after the recovery process.</font></p>
                    <p>    </p>
                    <p><font  face="verdana" size="5" color="white">
                     Our major target audience can be divided into two categories; primary benefactors which are the small businesses and secondary users which includes individuals and corporations. The focus of our technology platform was ascertained through need assessments conducted among owners of small businesses who suffered from several forms of disasters including Hurricane Katrina, Hurricane Isaac and Nisqually Earthquake, and intense brainstorming by our team.  Our unique selling proposition involves values beneficial to the end users which includes customer relationship management, disaster preparedness and faster business recovery and continuity after the occurrence of a disaster.
                     </font>
                     </p>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
