{% extends "business_view.html" %}
{% set active_view = "insurance" %}
{% block business_view_content %}
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Insurance</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Get insurance for your business...</p>
                    <img src="/static/insu1.jpg" height="200" weight="200" />
                    <img src="/static/insu2.jpg" height="200" weight="200" />
                    <img src="/static/insu3.jpg" height="200" weight="200" />
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
